{% extends 'DmcsNotesManagerBundle:Home:home_base.html.twig' %}
{% block panel_heading %}
    List of your notes
{% endblock %}
{% block panel_body %}
    {% if notes is not null and notes|length != 0 %}
        <div class="list-group">
            {% for note in notes %}
                <span class="list-group-item">
                    <button type="button" class="btn btn-danger" data-toggle="collapse"
                     data-target="#note{{ note.id }}" aria-expanded="true" aria-controls="demo">
                      {{ note.title }}
                    </button>
                    <span class="pull-right">
                        <a href="{{ url('home_path') }}" class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{{ url('note_delete_path', { 'noteId': note.id }) }}" class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </span>
                </span>
                <div id="note{{ note.id }}" class="collapse alert alert-danger" 
                    {% if note.color %} style="background-color: {{ note.color }}" {% endif %}> 
                    {{ note.content }}
                </div>
            {% endfor %}
        </div>
    {% else %}
            You haven't created any notes yet!
    {% endif %}
{% endblock %}