{% extends 'DmcsNotesManagerBundle:Home:home_base.html.twig' %}
{% block panel_heading %}
    Create a category
{% endblock %}

{% block panel_body %}
    {% if message is not null %}
    <div id="message" class="alert alert-danger">
        {{ message }}
    </div>
    {% endif %}
    {{ form_start(form, {'attr': {'role': 'form'}}) }}
        <div class="form-group">
            <div class="form-group">
                {{ form_label(form.name, 'Category Title') }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'}}) }}
            </div>
            </br>
            <div class="row" style="width: 80%">
                <div class="form-group pull-left">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
{% block other_panels %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            List of your categories
        </div>
        <div class="panel-body">
            <div class="list-group">
            {% if categories is not null and categories|length != 0 %}
                {% for category in categories %}
                <span class="list-group-item">
                    {{ category.name }}
                    <span class="pull-right">
                        <a href="{{ url('category_delete_path', { 'categoryId': category.id }) }}" class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </span>
                </span>
                {% endfor %}
            {% else %}
                No categories found!
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if message is not null %}
    <script type="text/javascript">
        $('#message').fadeOut(3000);
    </script>
    {% endif %}
{% endblock %}